# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
env/
dist/
build/
*.egg-info/
*.onnx

# Node / JS
node_modules/
.npm
*.log

# Environments & Secrets
.env
.env.*
*.secret

# IDE
.vscode/
.idea/
*.swp
.DS_Store
